data/

logs/
results/
__pycache__/
.idea
*/.ipynb_checkpoints
*.tc.*
*.tc_backward.*
*.log
*.bak

# training outputs
outputs/
images/
# model checkpoints
*.pt
 
run_gurobi_solver.py

problems/bccsp/gurobi_bccsp.py